<div class="banner" style="background: linear-gradient(-150deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 0%), url(<%= image_path 'background_home.jpg' %>);">
    <div class="banner-content">
      <div class="row">
        <div class="home-title text-center">
          <h1>Welcome to Mister Cocktail</h1>
        </div>
      </div>
      <div class="row">
        <div class="home-subtitle text-center">
          <h2>Pleinty of fun cocktails to make and custom !</h2>
        </div>
      </div>
      <div class="row text-center">
        <%= link_to 'ENTER', cocktails_path, class: "btn btn-default" %>
      </div>
    </div>
</div>
