<!-- Banner and title underneath the navbar -->
<div class="banner-index">
  <div class="header-title text-center">
    <h2><strong>My favorite cocktails</strong></h2>
  </div>

  <!-- Display of the cocktails cards on the banner -->
  <div class="container">
    <div class="card-deck">
      <% @cocktails.each do |cocktail| %>
          <div class="card" style="width: 20rem;">
          <%= cl_image_tag("leuoc6povdhli8pdywwy.jpg", width: 200, height: 150, crop: :fill, class: "img-card") %>
            <div class="card-block text-center">
              <h3 class="card-title"><%= link_to cocktail.name, cocktail_path(cocktail.id) %></h3>
              <p class="card-text">A fresh and flavored cocktail</p>
              <div><%= link_to 'Custom', cocktail_path(cocktail.id), class: "btn btn-default" %>
              </div>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>
