/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
.home-banner {
  height: 100vh;
  background-image: image-url("back.jpg");
  background-repeat: no-repeat;
  background-size: 1300px 915px;
  display: flex;
  align-items: center;
}

.home-subtitle {
  margin-bottom: 50px;
}

.style_background {
  position: relative;
  size: 100vh;
}

.home-banner h1 {
  font-size: 5em;
}

.home-banner p {
  font-size: 18px;
}