/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
.home-banner {
  height: 100vh;
  background: linear-gradient(-150deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 0%), image-url("back.jpg") no-repeat;
  background-size: 100%;
  display: flex;
  align-items: center;
}

.home-subtitle {
  margin-bottom: 50px;
}

.style_background {
  position: relative;
  size: 100vh;
}

.home-banner h1 {
  font-size: 5em;
  color: white;
}

.home-banner p {
  font-size: 18px;
  color: white;
}