/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
.banner {
  height: 600px;
}

.row h1, h2 {
  color: white;
}

.home-subtitle {
  margin-bottom: 50px;
}