@import "home";
@import "show";
@import "new";

.col-xs-12.col-sm-4 {
  position: relative;
  padding-top: 15px;
  padding-left: 15px;
}

#btn-add {
  margin-top: 15px;
}

.card {
  border-radius: 5px;
  margin: auto;
  margin-top: 15px;
  background-color: white;
  position: relative;
  display: inline-block;
}

.container {
  text-align: center
}

