
/* CSS of the page new cocktail */

.banner.banner-margin {
  margin-top: 50px;
}
.box {
  width: 400px;
  border-radius: 5px;
  margin: auto;
  margin-top: 10px;
  background-color: white;
  box-shadow: 0px 5px 10px black;
}

#form {
  width: 300px;
  margin: auto;
  margin-top: 20px;
}

/* Need to change that container if non_center_items needed */
.container {
  align-items: center;
}

.button-back-padded {
  margin-top: 20px;
}

.cocktail-description {
  margin-bottom: 50px;
}

.cocktail-dose {
  margin: 0 0;
}

.cocktail-dose p {
  font-size: 15px;
  padding-bottom: 10px;
  margin: 0 0;
}

.box .header-title {
  padding-top: 3px;
  margin: 0 0;
}

.box .header-title h3 {
  padding-bottom: 10px;
  margin: 10px;
  color: grey
}

.container-description {
  margin-bottom: 5px;
}

.button-add-recepe {
  padding-bottom: 15px;
}

.notice {
  padding-bottom: 5px;
}

.notice p {
  color: red;
  font-size: 15px;
}

li:last-child {
  padding-bottom: 10px;
}
